<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/hr.css">
</head>
<body>
    <div class="continer">
        <div class="left">
            <div class="section">
                <div class="hr"><h2>HR</h2></div>
                <div class="manager"><h2>Manager</h2></div>
            </div>
    
        </div>
        <div class="main">
            <div class="profile">
                <div class="name">
                    <h1>  Welcome  <%= data.Name %></h1>
                </div>
                <div class="image" style="background-image: url('<%= data.Image_URL %>');"></div>
            </div>
            <div class="content">
                <h1> This is Hr Home page</h1>
            </div>
        </div>
       
      </div>
       
</body>
</html>