<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-signin-client_id" content="442460618931-4u8c0k821384pd2bgu6ku6k43man4o7i.apps.googleusercontent.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
    <link rel="stylesheet" href="sigin.css">
</head>
<body>
    <div class="testbox">
         <div class="form">
           <div class="heading">
             <h3 style="color: rgb(77, 80, 80);">Welcome to Haptivity Technologies Private Limited
             </h3>
           </div>

           <div class="form_control">
            <form action="/" method="POST">
         
              <div class="gender">
                <input type="radio" value="hr" id="hr" name="job_title" >
                <label for="hr" class="radio" chec>Hr</label>
                <input type="radio" value="manager" id="manager" name="job_title" >
                <label for="manager" class="radio">Manager</label>
               </div> 
             <button type="submit" class="btn "> next</button>
             
              </form>
           </div>

       
          
         </div>
        
      
      </div>
      
</body>
</html>